.about{
    display: flex;
    flex-direction: column;
    img {
        margin: 25px auto 0px;
        width: 50vw;
        padding-top: 0;
    }
    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    div{
        margin-top: 10px;
        text-align: center;
        a{
            color: black;
            text-decoration: none;
        }
    }
}

.about-desc{
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .about-desc {
        font-size: 1em;
    }
}