@import 'mixin';

.resume {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    flex-direction: column;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        background-position: center;
        border-radius: 50%;
    }
}

.resume-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resume-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
        margin-bottom: 0px;
    }
}

.resume-work {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    .resume-item-title {
        font-weight: bold;
        margin: 0;
    }
    .resume-item {
        font-weight: 100;
        margin: 0;
    }
}

.resume-line{
        &::after{
            @include straightLine(5px, -15px, absolute, black );
        }
}

.resume-skill{
    display: flex;
    margin: 20px;
    .skill-block{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        h4{
            flex: 1;
        }
        .skill-content{
            flex: 1;

        }
        &::before{
            @include straightLine(2.5px, -15px, relative, grey );
        }
    }
}



@media screen and (max-width: 650px) {

}