
.portfolioTitle{
    display: block;
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 5%;
    h1 {
        margin: 0 auto;
        font-size: 7em;
        color: grey;
    }
}

.content {
    position: relative;
    padding-top: 75px;
}
