@import url('https://fonts.googleapis.com/css?family=Raleway');
$fontStack: 'Raleway', sans-serif;

body {
    font-family: $fontStack;
    margin: 0;
    overflow-x: hidden;
}

.homeTitle {
    display: block;
    position: absolute;
    text-align: center;
    .homeImg {
        position: fixed;
        display: block;
        height: 105vh;
        width: auto;
    }
    h1 {
        position: fixed;
        width:100vw;
        top:27vh;
        font-size: 10em;
        color: grey;
    }
}

.portfolioTitle{
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 5%;
    h1 {
        font-size: 7em;
        color: grey;
    }
}

.content {
    position: relative;
    padding-top: 75px;
}
