@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$fontStack: 'Open Sans',
sans-serif;
body {
    font-family: $fontStack;
    margin: 0;
}

.homeTitle {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    h1 {
        font-size: 3em;
        color: grey;
    }
}